<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>A3D1A8DA-1D51-4FD9-B169-8BE012D2AE2F</string>
				<string>C5979E17-9413-44C4-8BBE-D396B1A266B3</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
