<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>CreatedDate</key>
				<date>2018-07-16T12:26:18Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Gallery</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-01T10:16:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page2-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xFODFVX7fQ1w
								g3AAXbL1Lw==
								</data>
								<key>Size</key>
								<integer>903</integer>
							</dict>
							<key>files/page2-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wvDswdf0DgpC
								ywJ/f82u/A==
								</data>
								<key>Size</key>
								<integer>37555</integer>
							</dict>
							<key>files/page2-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JN4GVzu+tY1J
								MXEjW4w8cw==
								</data>
								<key>Size</key>
								<integer>18998</integer>
							</dict>
							<key>files/page2-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YGDGnfjJiKib
								gIzL3ESdVw==
								</data>
								<key>Size</key>
								<integer>951</integer>
							</dict>
							<key>files/page2-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SLN9+4w5RI5U
								jagdd+G2rg==
								</data>
								<key>Size</key>
								<integer>69045</integer>
							</dict>
							<key>files/page2-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kYo8z0p6Tn/h
								j6wnc1ktmA==
								</data>
								<key>Size</key>
								<integer>32872</integer>
							</dict>
							<key>files/page2-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AwxY5JiYFDrG
								2NgNVzvgDQ==
								</data>
								<key>Size</key>
								<integer>949</integer>
							</dict>
							<key>files/page2-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D5iXCYOYubHJ
								zwjQjz7+qQ==
								</data>
								<key>Size</key>
								<integer>36901</integer>
							</dict>
							<key>files/page2-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VSwqr34y9VxJ
								NCjxE8ULUw==
								</data>
								<key>Size</key>
								<integer>17166</integer>
							</dict>
							<key>files/page2-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xqQceot0lGv0
								aOYzmEzggg==
								</data>
								<key>Size</key>
								<integer>939</integer>
							</dict>
							<key>files/page2-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y6yad9XNLYWR
								KZoIgLzL4Q==
								</data>
								<key>Size</key>
								<integer>46134</integer>
							</dict>
							<key>files/page2-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Iira1Hi1iuu1
								WsyFGXR9qg==
								</data>
								<key>Size</key>
								<integer>18865</integer>
							</dict>
							<key>files/page2-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qa9mCGkY2SLO
								jWcujB2a3Q==
								</data>
								<key>Size</key>
								<integer>945</integer>
							</dict>
							<key>files/page2-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vBWI8JkOxAXd
								oCxt6vxpbA==
								</data>
								<key>Size</key>
								<integer>51022</integer>
							</dict>
							<key>files/page2-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/T8cfFndCh1S
								x5jN5aEolA==
								</data>
								<key>Size</key>
								<integer>23686</integer>
							</dict>
							<key>files/page2-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ew8Rf4F7Eryq
								FE+08iohPg==
								</data>
								<key>Size</key>
								<integer>907</integer>
							</dict>
							<key>files/page2-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iFeMDJECcKwf
								6jIUE9qRaQ==
								</data>
								<key>Size</key>
								<integer>58575</integer>
							</dict>
							<key>files/page2-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Wj/adUJrF5wZ
								P819dGY2pQ==
								</data>
								<key>Size</key>
								<integer>24669</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cPrxardXof+D
								PYQHseD/hA==
								</data>
								<key>Size</key>
								<integer>5585</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
