<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>4CD56395-8877-4808-9356-1FFACED081E5</string>
				<key>BrowserTitle</key>
				<string>podcasts</string>
				<key>CreatedDate</key>
				<date>2023-05-11T17:07:26Z</date>
				<key>CustomThemeName</key>
				<string>Engineer</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Podcasts</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-12T08:21:12Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/1deec6b5a058f9fc38e59404526d6cfc-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FHLD2KeO5jVu
								LnRealsztA==
								</data>
								<key>Size</key>
								<integer>3541</integer>
							</dict>
							<key>files/archive-may-2023.html</key>
							<dict>
								<key>Digest</key>
								<data>
								oJ/x9vx2jHxy
								QpW93VQAVA==
								</data>
								<key>Size</key>
								<integer>3809</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								dlWJ7SaOHoS4
								3uvYZQedLQ==
								</data>
								<key>Size</key>
								<integer>1844</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								UTZ+h/QNq7rx
								Fr2G/ZquJw==
								</data>
								<key>Size</key>
								<integer>1855</integer>
							</dict>
							<key>files/podcast_0.m4a</key>
							<dict>
								<key>Digest</key>
								<data>
								Vh0spbQx2LEB
								NSjHZLHAhQ==
								</data>
								<key>Size</key>
								<integer>77962967</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TaMlErOMEx0R
								1yTR6V2tvQ==
								</data>
								<key>Size</key>
								<integer>3546</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>podcasts</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
