<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-09T13:09:27Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lbhsiynXlXVA
								1xaqkdkTrw==
								</data>
								<key>Size</key>
								<integer>6696</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-09T13:09:27Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/archive-december-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ffW7JHebFW7w
								CJY0Q2fOvA==
								</data>
								<key>Size</key>
								<integer>5780</integer>
							</dict>
							<key>files/archive-february-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mivM6sMCXqH0
								iOKUqlxQBA==
								</data>
								<key>Size</key>
								<integer>6011</integer>
							</dict>
							<key>files/archive-september-2019.html</key>
							<dict>
								<key>Digest</key>
								<data>
								n8UQ2rhaDSmc
								rAp/B4tf3A==
								</data>
								<key>Size</key>
								<integer>5833</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								4gqd31ytzDu8
								oCjSmvC6AQ==
								</data>
								<key>Size</key>
								<integer>1701</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4wzXgi+gkayX
								gKFI7tLIvg==
								</data>
								<key>Size</key>
								<integer>8763</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-01T10:16:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page2-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xFODFVX7fQ1w
								g3AAXbL1Lw==
								</data>
								<key>Size</key>
								<integer>903</integer>
							</dict>
							<key>files/page2-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wvDswdf0DgpC
								ywJ/f82u/A==
								</data>
								<key>Size</key>
								<integer>37555</integer>
							</dict>
							<key>files/page2-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								JN4GVzu+tY1J
								MXEjW4w8cw==
								</data>
								<key>Size</key>
								<integer>18998</integer>
							</dict>
							<key>files/page2-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YGDGnfjJiKib
								gIzL3ESdVw==
								</data>
								<key>Size</key>
								<integer>951</integer>
							</dict>
							<key>files/page2-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SLN9+4w5RI5U
								jagdd+G2rg==
								</data>
								<key>Size</key>
								<integer>69045</integer>
							</dict>
							<key>files/page2-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kYo8z0p6Tn/h
								j6wnc1ktmA==
								</data>
								<key>Size</key>
								<integer>32872</integer>
							</dict>
							<key>files/page2-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AwxY5JiYFDrG
								2NgNVzvgDQ==
								</data>
								<key>Size</key>
								<integer>949</integer>
							</dict>
							<key>files/page2-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								D5iXCYOYubHJ
								zwjQjz7+qQ==
								</data>
								<key>Size</key>
								<integer>36901</integer>
							</dict>
							<key>files/page2-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VSwqr34y9VxJ
								NCjxE8ULUw==
								</data>
								<key>Size</key>
								<integer>17166</integer>
							</dict>
							<key>files/page2-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xqQceot0lGv0
								aOYzmEzggg==
								</data>
								<key>Size</key>
								<integer>939</integer>
							</dict>
							<key>files/page2-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								y6yad9XNLYWR
								KZoIgLzL4Q==
								</data>
								<key>Size</key>
								<integer>46134</integer>
							</dict>
							<key>files/page2-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Iira1Hi1iuu1
								WsyFGXR9qg==
								</data>
								<key>Size</key>
								<integer>18865</integer>
							</dict>
							<key>files/page2-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								qa9mCGkY2SLO
								jWcujB2a3Q==
								</data>
								<key>Size</key>
								<integer>945</integer>
							</dict>
							<key>files/page2-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vBWI8JkOxAXd
								oCxt6vxpbA==
								</data>
								<key>Size</key>
								<integer>51022</integer>
							</dict>
							<key>files/page2-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/T8cfFndCh1S
								x5jN5aEolA==
								</data>
								<key>Size</key>
								<integer>23686</integer>
							</dict>
							<key>files/page2-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Ew8Rf4F7Eryq
								FE+08iohPg==
								</data>
								<key>Size</key>
								<integer>907</integer>
							</dict>
							<key>files/page2-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iFeMDJECcKwf
								6jIUE9qRaQ==
								</data>
								<key>Size</key>
								<integer>58575</integer>
							</dict>
							<key>files/page2-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Wj/adUJrF5wZ
								P819dGY2pQ==
								</data>
								<key>Size</key>
								<integer>24669</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cPrxardXof+D
								PYQHseD/hA==
								</data>
								<key>Size</key>
								<integer>5585</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-09T13:09:27Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/engineer.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FyoIP1YQmF+/
								imuZgsiVxA==
								</data>
								<key>Size</key>
								<integer>6467</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								D24EE4QJW5Pi
								XuCC5M6wYQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								xeqhT71aerlf
								a3AUk3Ab6Q==
								</data>
								<key>Size</key>
								<integer>845</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-01T10:16:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>2011-11-07_22-11-50.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Vdm7d//YHsvH
								UhnZJRItPw==
								</data>
								<key>Size</key>
								<integer>96233</integer>
							</dict>
							<key>engineer.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FyoIP1YQmF+/
								imuZgsiVxA==
								</data>
								<key>Size</key>
								<integer>6467</integer>
							</dict>
							<key>qr-linkedin.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kIbsxzpGooOL
								huAYnAFl1g==
								</data>
								<key>Size</key>
								<integer>830</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:blog - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-01T10:16:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Engineer - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-01T10:16:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								MuFa1jbiRG1m
								YW21/ngXCA==
								</data>
								<key>Size</key>
								<integer>183738</integer>
							</dict>
							<key>fonts/Lato-Light.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								/BuxgdcTU82k
								m0CqGThLvQ==
								</data>
								<key>Size</key>
								<integer>24292</integer>
							</dict>
							<key>fonts/Lato-Light.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								VNPP4M7HNJJa
								Ic6/43ihLg==
								</data>
								<key>Size</key>
								<integer>79706</integer>
							</dict>
							<key>fonts/Lato-Light.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								SdhPgvSUrsj2
								NxD9LVW6QQ==
								</data>
								<key>Size</key>
								<integer>63044</integer>
							</dict>
							<key>fonts/Lato-Light.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								uiRSvceQpP7g
								UgLqw8CSsw==
								</data>
								<key>Size</key>
								<integer>29852</integer>
							</dict>
							<key>fonts/Lato-Light.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								u70mru6cW5Z+
								NZM7zgLTWA==
								</data>
								<key>Size</key>
								<integer>23208</integer>
							</dict>
							<key>fonts/Lato-Regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								am1xUIemisWt
								eQtPe7sXZg==
								</data>
								<key>Size</key>
								<integer>26332</integer>
							</dict>
							<key>fonts/Lato-Regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								kIfkpqzuzJsp
								FIIwRJUaOg==
								</data>
								<key>Size</key>
								<integer>80331</integer>
							</dict>
							<key>fonts/Lato-Regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								2kt5voxYj1Y1
								Hk1jaPzb4Q==
								</data>
								<key>Size</key>
								<integer>60100</integer>
							</dict>
							<key>fonts/Lato-Regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								YvtR6eZF9jWZ
								I4iBud4V3Q==
								</data>
								<key>Size</key>
								<integer>28412</integer>
							</dict>
							<key>fonts/Lato-Regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								8aSgWPu6HjWk
								BhiK5+3a+A==
								</data>
								<key>Size</key>
								<integer>23316</integer>
							</dict>
							<key>fonts/Raleway-Black.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								jzjqcnOa+5EL
								xs4kv0Td1g==
								</data>
								<key>Size</key>
								<integer>24140</integer>
							</dict>
							<key>fonts/Raleway-Black.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								xdl8wLothMyk
								ATEcwAS1SA==
								</data>
								<key>Size</key>
								<integer>56197</integer>
							</dict>
							<key>fonts/Raleway-Black.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								5PrUDIEEQKM8
								Vx/rVmyPJQ==
								</data>
								<key>Size</key>
								<integer>54308</integer>
							</dict>
							<key>fonts/Raleway-Black.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								pY8l3If67BI9
								2YXGCs1U/w==
								</data>
								<key>Size</key>
								<integer>25340</integer>
							</dict>
							<key>fonts/Raleway-Black.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								D4Xkv+hl3voY
								WI/I6ESGEQ==
								</data>
								<key>Size</key>
								<integer>20840</integer>
							</dict>
							<key>fonts/Raleway-Bold.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nLI+3oasLFFA
								ygiCusEgNQ==
								</data>
								<key>Size</key>
								<integer>23794</integer>
							</dict>
							<key>fonts/Raleway-Bold.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								BZDIN1mPL/LB
								/fzT31piSA==
								</data>
								<key>Size</key>
								<integer>57967</integer>
							</dict>
							<key>fonts/Raleway-Bold.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								Qy1YeVfmqVah
								mVq12najMQ==
								</data>
								<key>Size</key>
								<integer>53732</integer>
							</dict>
							<key>fonts/Raleway-Bold.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UJj4yKpUKCTN
								VBDvkD5I4A==
								</data>
								<key>Size</key>
								<integer>25176</integer>
							</dict>
							<key>fonts/Raleway-Bold.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								3L6HA6Chd7aS
								EhJ0reVzzw==
								</data>
								<key>Size</key>
								<integer>20612</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q11Et69xtpa
								bxp3q0hZ6g==
								</data>
								<key>Size</key>
								<integer>399454</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								HwPpeo3DaKrx
								AfHMipzI5w==
								</data>
								<key>Size</key>
								<integer>155418</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Engineer</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Engineer</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>79C034D4-DAEF-4949-AE56-4347A43926C2</key>
					<dict>
						<key>fileName</key>
						<string>qr-linkedin.png</string>
						<key>identifier</key>
						<string>79C034D4-DAEF-4949-AE56-4347A43926C2</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/ll/133jm15j1yl55g7_yj4ds36h0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-5223/TNcMZU/qr-linkedin.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>A3D1A8DA-1D51-4FD9-B169-8BE012D2AE2F</key>
					<dict>
						<key>fileName</key>
						<string>engineer.png</string>
						<key>identifier</key>
						<string>A3D1A8DA-1D51-4FD9-B169-8BE012D2AE2F</string>
						<key>lastResolvablePath</key>
						<string></string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>C5979E17-9413-44C4-8BBE-D396B1A266B3</key>
					<dict>
						<key>fileName</key>
						<string>2011-11-07_22-11-50.jpg</string>
						<key>identifier</key>
						<string>C5979E17-9413-44C4-8BBE-D396B1A266B3</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/ll/133jm15j1yl55g7_yj4ds36h0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-2636/7BOY0M/2011-11-07_22-11-50.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lv
				blkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0cxIAAYagXxAP
				TlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBXAAsA
				DAAVABYAIAAhACIAJQAsADgASwBMAE0ATgBSAFUAWwBB
				AF0AYQBlAHAAcQByAHMAeQB8AH8AhQCGAJEAkgCTAJQA
				mACbAKEAogCtAK4ArwCwALMAuQC6ALsAxgDHAMgAyQDN
				ANAA1gDXAOIA4wDkAOUA6QDsAPIA8wD+AP8BAAEBAQUB
				CAEOAQ8BGgEbARwBHQEhASQBKgErATYBNwE4ATkBPAFC
				AUMBRAFIVSRudWxs0wANAA4ADwAQABIAFFdOUy5rZXlz
				Wk5TLm9iamVjdHNWJGNsYXNzoQARgAKhABOAA4BWVG5v
				ZGXVABcAGAAZABoADwAbABwAHQAeAB9UTmFtZVVpdGVt
				c1ppZGVudGlmaWVyWGNoaWxkcmVugAWACIAEgAaAVV8Q
				JDE1NzMyRUI4LTdFNEQtNEJFNi1CQUE3LTk4MTBDRERF
				NEFDM18QD1VudGl0bGVkIEZvbGRlctIADgAPACMAJKCA
				B9IAJgAnACgAKVokY2xhc3NuYW1lWCRjbGFzc2VzXk5T
				TXV0YWJsZUFycmF5owAoACoAK1dOU0FycmF5WE5TT2Jq
				ZWN00gAOAA8ALQAkqQAuAC8AMAAxADIAMwA0ADUANoAJ
				gBSAHYAlgC2ANYA9gEWATYAH2gA5ADoADwA7ADwAPQAX
				AD4APwBAAEEAQgBDAEIAQgBGAEcASABJAEpeUmVtb3Rl
				UmVzb3VyY2VbT3JpZ2luYWxVUkxcUHVibGlzaGVkVVJM
				XVB1Ymxpc2hlZERhdGVfEA9DaGFuZ2VkU3RhdHVzZXNa
				SWRlbnRpZmllcllUaW1lU3RhbXBZRmlsZVRva2VuCIAA
				gBOAAIAAgA+AC4AKgA2ADF8QJEFGMEMwQTFELThDNkMt
				NDBERS04NTQwLTREMzQwRUEzNEZDN1xlbmdpbmVlci5w
				bmdfECRBM0QxQThEQS0xRDUxLTRGRDktQjE2OS04QkUw
				MTJEMkFFMkbSAE8ADwBQAFFXTlMudGltZSNBxQU+xFeD
				BoAO0gAmACcAUwBUVk5TRGF0ZaIAUwAr0wANAA4ADwBW
				AFgAWqEAV4AQoQBZgBGAEl8QQmZpbGU6Ly8vVXNlcnMv
				dml0YWxpaW9iZXJ0eW5za3lpL0Rldi9hc3NvY2lhdGlv
				bi1kb21haW4uZ2l0aHViLmlvLwjSACYAJwBeAF9fEBNO
				U011dGFibGVEaWN0aW9uYXJ5owBeAGAAK1xOU0RpY3Rp
				b25hcnnSACYAJwBiAGNeUldTaXRlUmVzb3VyY2WiAGQA
				K15SV1NpdGVSZXNvdXJjZdoAOQA6AA8AOwA8AD0AFwA+
				AD8AQABmAEIAQwBpAEIAawBsAG0AbgBvCYAAgBOAGIAA
				gBuAFoAVgBqAF18QJDU3QzMyREQyLTZCNjItNEYzQS05
				N0NDLTE5QUQ2MDk5NkE4OF8QJHBob3RvLTE0NTUxNjU4
				MTQwMDQtMTEyNmE3MTk5ZjliLmpwZ18Qvmh0dHBzOi8v
				aW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNDU1MTY1
				ODE0MDA0LTExMjZhNzE5OWY5Yj9peGxpYj1yYi0wLjMu
				NSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlu
				eXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hC
				ZmFXUWlPakV6TWpRNWZRJnM9NzE3YmI3N2VlODBlZjIx
				NDIxOWRkZDZiNDkzZmZiZTnTAHQADwB1AEIAdwBvV05T
				LmJhc2VbTlMucmVsYXRpdmWAAIAZgBfSACYAJwB6AHtV
				TlNVUkyiAHoAK9IATwAPAH0AUSNBxQU+xFeDhIAO0wAN
				AA4ADwCAAIIAWqEAgYAcoQBZgBGAEl8QQmZpbGU6Ly8v
				VXNlcnMvdml0YWxpaW9iZXJ0eW5za3lpL0Rldi9hc3Nv
				Y2lhdGlvbi1kb21haW4uZ2l0aHViLmlvL9oAOQA6AA8A
				OwA8AD0AFwA+AD8AQABmAEIAQwCKAEIAjACNAI4AjwCQ
				CYAAgBOAIYAAgCOAH4AegCKAIF8QJDcxMTlEQkE2LTI1
				RjMtNDk5Ny05MjY3LTQxNzZCQTQ3NEI4MF8QJHBob3Rv
				LTE1MTYyMjkxODg2NjUtNWFiOWNiNTNjZTc4LmpwZ18Q
				vmh0dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90
				by0xNTE2MjI5MTg4NjY1LTVhYjljYjUzY2U3OD9peGxp
				Yj1yYi0wLjMuNSZxPTgwJmZtPWpwZyZjcm9wPWVudHJv
				cHkmY3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhp
				ZD1leUpoY0hCZmFXUWlPakV6TWpRNWZRJnM9YTQxOGIy
				MDI0YmIzMGEzYTM3MjE3Y2E1MmNiYjNmMmPTAHQADwB1
				AEIAdwCQgACAGYAg0gBPAA8AmQBRI0HFBT7EV4OugA7T
				AA0ADgAPAJwAngBaoQCdgCShAFmAEYASXxBCZmlsZTov
				Ly9Vc2Vycy92aXRhbGlpb2JlcnR5bnNreWkvRGV2L2Fz
				c29jaWF0aW9uLWRvbWFpbi5naXRodWIuaW8v2gA5ADoA
				DwA7ADwAPQAXAD4APwBAAEEApABDAEIAQgCoAKkAqgCr
				AKwIgCyAE4AAgACAKoAngCaAKYAoXxAkQkQ5NTlCQUIt
				MjBCMC00MkYwLTg2MkEtRUFBNzM1MzdGMkVGXxAXMjAx
				MS0xMS0wN18yMi0xMS01MC5qcGdfECRDNTk3OUUxNy05
				NDEzLTQ0QzQtOEJCRS1EMzk2QjFBMjY2QjPSAE8ADwCx
				AFEjQcUFPsRXg9iADtMADQAOAA8AtAC2AFqhALWAK6EA
				WYARgBJfEEJmaWxlOi8vL1VzZXJzL3ZpdGFsaWlvYmVy
				dHluc2t5aS9EZXYvYXNzb2NpYXRpb24tZG9tYWluLmdp
				dGh1Yi5pby9fEEQvVXNlcnMvdml0YWxpaW9iZXJ0eW5z
				a3lpL0Rlc2t0b3AvSW5zdGFzaGFyZS8yMDExLTExLTA3
				XzIyLTExLTUwLmpwZ9oAOQA6AA8AOwA8AD0AFwA+AD8A
				QABmAEIAQwC/AEIAwQDCAMMAxADFCYAAgBOAMYAAgDOA
				L4AugDKAMF8QJDQwRDIwQTU5LTJCNjAtNDcyMS05N0U2
				LUQwNDVCOTY0NjUzQl8QIHBob3RvLTE1OTQwMzEyNDU3
				NTUtMWFjOTliYmM3YTNjXxDHaHR0cHM6Ly9pbWFnZXMu
				dW5zcGxhc2guY29tL3Bob3RvLTE1OTQwMzEyNDU3NTUt
				MWFjOTliYmM3YTNjP2Nyb3A9ZW50cm9weSZjcz10aW55
				c3JnYiZmaXQ9bWF4JmZtPWpwZyZpeGlkPU1ud3hNekkw
				T1h3d2ZERjhjMlZoY21Ob2ZEUXhmSHh0WVdOaWIyOXJm
				R1Z1ZkRCOGZIeDhNVFk0TWprek5UVTROdyZpeGxpYj1y
				Yi00LjAuMyZxPTgwJnc9MTA4MNMAdAAPAHUAQgB3AMWA
				AIAZgDDSAE8ADwDOAFEjQcUFPsRXhAKADtMADQAOAA8A
				0QDTAFqhANKANKEAWYARgBJfEEJmaWxlOi8vL1VzZXJz
				L3ZpdGFsaWlvYmVydHluc2t5aS9EZXYvYXNzb2NpYXRp
				b24tZG9tYWluLmdpdGh1Yi5pby/aADkAOgAPADsAPAA9
				ABcAPgA/AEAAZgBCAEMA2wBCAN0A3gDfAOAA4QmAAIAT
				gDmAAIA7gDeANoA6gDhfECQzNThENDUyMy1DMjA4LTQ1
				N0MtQTg4Mi0wRDU1NjQ5N0Y2RjRfECBwaG90by0xNDk5
				NzUwMzEwMTA3LTVmZWYyOGE2NjY0M18QxWh0dHBzOi8v
				aW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNDk5NzUw
				MzEwMTA3LTVmZWYyOGE2NjY0Mz9jcm9wPWVudHJvcHkm
				Y3M9dGlueXNyZ2ImZml0PW1heCZmbT1qcGcmaXhpZD1N
				bnd4TXpJME9Yd3dmREY4YzJWaGNtTm9mRGg4ZkcxaFky
				SnZiMnQ4Wlc1OE1IeDhmSHd4TmpneU9UTTFOVGcyJml4
				bGliPXJiLTQuMC4zJnE9ODAmdz0xMDgw0wB0AA8AdQBC
				AHcA4YAAgBmAONIATwAPAOoAUSNBxQU+xFeEI4AO0wAN
				AA4ADwDtAO8AWqEA7oA8oQBZgBGAEl8QQmZpbGU6Ly8v
				VXNlcnMvdml0YWxpaW9iZXJ0eW5za3lpL0Rldi9hc3Nv
				Y2lhdGlvbi1kb21haW4uZ2l0aHViLmlvL9oAOQA6AA8A
				OwA8AD0AFwA+AD8AQABmAEIAQwD3AEIA+QD6APsA/AD9
				CYAAgBOAQYAAgEOAP4A+gEKAQF8QJDRDRDU2Mzk1LTg4
				NzctNDgwOC05MzU2LTFGRkFDRUQwODFFNV8QIHBob3Rv
				LTE2MTY0MDA2MTkxNzUtNWJlZGEzYTE3ODk2XxDHaHR0
				cHM6Ly9pbWFnZXMudW5zcGxhc2guY29tL3Bob3RvLTE2
				MTY0MDA2MTkxNzUtNWJlZGEzYTE3ODk2P2Nyb3A9ZW50
				cm9weSZjcz10aW55c3JnYiZmaXQ9bWF4JmZtPWpwZyZp
				eGlkPU1ud3hNekkwT1h3d2ZERjhjMlZoY21Ob2ZERXlm
				SHh0WVdOaWIyOXJmR1Z1ZkRCOGZIeDhNVFk0TWprek5U
				VTROZyZpeGxpYj1yYi00LjAuMyZxPTgwJnc9MTA4MNMA
				dAAPAHUAQgB3AP2AAIAZgEDSAE8ADwEGAFEjQcUFPsRX
				hEWADtMADQAOAA8BCQELAFqhAQqARKEAWYARgBJfEEJm
				aWxlOi8vL1VzZXJzL3ZpdGFsaWlvYmVydHluc2t5aS9E
				ZXYvYXNzb2NpYXRpb24tZG9tYWluLmdpdGh1Yi5pby/a
				ADkAOgAPADsAPAA9ABcAPgA/AEAAZgBCAEMBEwBCARUB
				FgEXARgBGQmAAIATgEmAAIBLgEeARoBKgEhfECQ5NkFF
				NTJEQi01M0VCLTQ5NjYtQkIzMy1BMjdCRDJFOEIyMjFf
				ECBwaG90by0xNTkzMDYyMDk2MDMzLTlhMjZiMDlkYTcw
				NV8Qx2h0dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9w
				aG90by0xNTkzMDYyMDk2MDMzLTlhMjZiMDlkYTcwNT9j
				cm9wPWVudHJvcHkmY3M9dGlueXNyZ2ImZml0PW1heCZm
				bT1qcGcmaXhpZD1Nbnd4TXpJME9Yd3dmREY4YzJWaGNt
				Tm9mREl4Zkh4dFlXTmliMjlyZkdWdWZEQjhmSHg4TVRZ
				NE1qa3pOVFU0TncmaXhsaWI9cmItNC4wLjMmcT04MCZ3
				PTEwODDTAHQADwB1AEIAdwEZgACAGYBI0gBPAA8BIgBR
				I0HFBT7EV4RvgA7TAA0ADgAPASUBJwBaoQEmgEyhAFmA
				EYASXxBCZmlsZTovLy9Vc2Vycy92aXRhbGlpb2JlcnR5
				bnNreWkvRGV2L2Fzc29jaWF0aW9uLWRvbWFpbi5naXRo
				dWIuaW8v2gA5ADoADwA7ADwAPQAXAD4APwBAAEEBLQBD
				AEIAQgExATIBMwE0ATUIgFSAE4AAgACAUoBPgE6AUYBQ
				XxAkQTVENjBBMjItMzZDNC00MjlBLTkxNkQtQjVBOEU5
				QTAzREY4XxAPcXItbGlua2VkaW4ucG5nXxAkNzlDMDM0
				RDQtREFFRi00OTQ5LUFFNTYtNDM0N0E0MzkyNkMy0gBP
				AA8BOgBRI0HFBT7EV4SQgA7TAA0ADgAPAT0BPwBaoQE+
				gFOhAFmAEYASXxBCZmlsZTovLy9Vc2Vycy92aXRhbGlp
				b2JlcnR5bnNreWkvRGV2L2Fzc29jaWF0aW9uLWRvbWFp
				bi5naXRodWIuaW8vXxAzL1VzZXJzL3ZpdGFsaWlvYmVy
				dHluc2t5aS9Eb2N1bWVudHMvcXItbGlua2VkaW4ucG5n
				0gAmACcBRQFGXFJXU2l0ZUZvbGRlcqIBRwArXFJXU2l0
				ZUZvbGRlctIAJgAnAGABSaIAYAArAAgAGQAiACwAMQA6
				AD8AUQBWAFsAXQEOARQBIQEpATQBOwE+AUABQwFFAUcB
				TAFhAWYBbAF3AYABggGEAYYBiAGKAbEBwwHMAc0BzwHY
				AeMB7AH7AgICCgITAhwCLwIxAjMCNQI3AjkCOwI9Aj8C
				QQJDAmwCewKHApQCogK0Ar8CyQLTAtQC1gLYAtoC3ALe
				AuAC4gLkAuYDDQMaA0EDSgNSA1sDXQNmA20DcgN/A4ID
				hAOHA4kDiwPQA9ED2gPwA/cEBAQNBBwEIQQwBFkEWgRc
				BF4EYARiBGQEZgRoBGoEbASTBLoFewWIBZAFnAWeBaAF
				ogWrBbEFtgW/BcgFygXXBdoF3AXfBeEF4wYoBlEGUgZU
				BlYGWAZaBlwGXgZgBmIGZAaLBrIHcweAB4IHhAeGB48H
				mAeaB6cHqgesB68HsQezB/gIIQgiCCQIJggoCCoILAgu
				CDAIMgg0CFsIdQicCKUIrgiwCL0IwAjCCMUIxwjJCQ4J
				VQl+CX8JgQmDCYUJhwmJCYsJjQmPCZEJuAnbCqUKsgq0
				CrYKuArBCsoKzArZCtwK3grhCuMK5QsqC1MLVAtWC1gL
				WgtcC14LYAtiC2QLZguNC7AMeAyFDIcMiQyLDJQMnQyf
				DKwMrwyxDLQMtgy4DP0NJg0nDSkNKw0tDS8NMQ0zDTUN
				Nw05DWANgw5NDloOXA5eDmAOaQ5yDnQOgQ6EDoYOiQ6L
				Do0O0g77DvwO/g8ADwIPBA8GDwgPCg8MDw4PNQ9YECIQ
				LxAxEDMQNRA+EEcQSRBWEFkQWxBeEGAQYhCnENAQ0RDT
				ENUQ1xDZENsQ3RDfEOEQ4xEKERwRQxFMEVURVxFkEWcR
				aRFsEW4RcBG1EesR9BIBEgYSExIcAAAAAAAAAgIAAAAA
				AAABSgAAAAAAAAAAAAAAAAAAEiE=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>40D20A59-2B60-4721-97E6-D045B964653B</string>
					<key>BaseURL</key>
					<string>https://miraving.github.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>All rights reserved © 2023</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>oxdead@icloud.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>1</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va9ACAAAAAAQQMAAA
							AHBCvTPYWtTrw2J9db3g
							CpK77mzDAIoREgKXLg/W
							FzMkzAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAASAAAAAQEAAHZp
							dGFsaWlvYmVydHluc2t5
							aQAAAwAAAAEBAABEZXYA
							HAAAAAEBAABhc3NvY2lh
							dGlvbi1kb21haW4uZ2l0
							aHViLmlvEAAAAAEGAAAQ
							AAAAIAAAADwAAABIAAAA
							CAAAAAQDAABkYQAAAAAA
							AAgAAAAEAwAAUYgAAAAA
							AAAIAAAABAMAAJ8BDwAA
							AAAACAAAAAQDAAD5kXoB
							AAAAABAAAAABBgAAhAAA
							AJQAAACkAAAAtAAAAAgA
							AAAABAAAQcNCWNw/hD0Y
							AAAAAQIAAAIAAAAAAAAA
							DwAAAAAAAAAAAAAAAAAA
							AAgAAAAEAwAAAgAAAAAA
							AAAEAAAAAwMAAPUBAAAI
							AAAAAQkAAGZpbGU6Ly8v
							DAAAAAEBAABNYWNpbnRv
							c2ggSEQIAAAABAMAAACg
							IGh0AAAACAAAAAAEAABB
							xOxLvQAAACQAAAABAQAA
							QkNGMTk0RTctMTU1RS00
							QjU4LUIzQ0MtNUJCODg3
							RTVCMjA0GAAAAAECAACB
							AAAAAQAAAO8TAAABAAAA
							AAAAAAAAAAABAAAAAQEA
							AC8AAAAAAAAAAQUAAMwA
							AAD+////AQAAAAAAAAAQ
							AAAABBAAAGwAAAAAAAAA
							BRAAAMQAAAAAAAAAEBAA
							AOwAAAAAAAAAQBAAANwA
							AAAAAAAAAiAAALgBAAAA
							AAAABSAAACgBAAAAAAAA
							ECAAADgBAAAAAAAAESAA
							AGwBAAAAAAAAEiAAAEwB
							AAAAAAAAEyAAAFwBAAAA
							AAAAICAAAJgBAAAAAAAA
							MCAAAMQBAAAAAAAAAcAA
							AAwBAAAAAAAAEcAAACAA
							AAAAAAAAEsAAABwBAAAA
							AAAAENAAAAQAAAAAAAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>lastBackup</key>
							<date>2023-05-09T13:09:28Z</date>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RWBadge</key>
					<string>{"imageAlt":"RapidWeaver Icon","delayType":"time","position":"bottomLeft","hiddenOnDesktop":false,"hiddenOnMobile":false,"url":"https:\/\/www.realmacsoftware.com","openInNewWindow":true,"hiddenOnTablet":false,"delayMillis":1000,"enabled":false,"text":"Made in RapidWeaver","colorScheme":"auto","transition":"slide","useDefaultImage":true,"delayDistance":30}</string>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLogoIdentifier</key>
					<string>AF0C0A1D-8C6C-40DE-8540-4D340EA34FC7</string>
					<key>SloganText</key>
					<string>Team Lead / Senior iOS Developer</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Engineer</string>
					<key>TitleText</key>
					<string>Viitalii Obertynskyi</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6379436C-5E11-4378-A2CF-AEEDCB9D1DAF_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalBodyStart</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalBodyStart</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<false/>
					<key>webServerPHPVersion</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
