<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-11T17:27:59Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								s+mtBjsQL8/x
								RhAyji7NjA==
								</data>
								<key>Size</key>
								<integer>6696</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-11T17:27:59Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/archive-december-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DazJNiJDTTpi
								JPa2GKx2Hw==
								</data>
								<key>Size</key>
								<integer>5780</integer>
							</dict>
							<key>files/archive-february-2017.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fToWvdJP+i/+
								HPnE7MCDyw==
								</data>
								<key>Size</key>
								<integer>6011</integer>
							</dict>
							<key>files/archive-september-2019.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DYGk7TOYRMpB
								WCWxEjhTNA==
								</data>
								<key>Size</key>
								<integer>5833</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								4gqd31ytzDu8
								oCjSmvC6AQ==
								</data>
								<key>Size</key>
								<integer>1701</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								feDAXdIxe0/q
								Ekg9QwG95A==
								</data>
								<key>Size</key>
								<integer>8763</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string>blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-11T17:27:59Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/1deec6b5a058f9fc38e59404526d6cfc-0.html</key>
							<dict>
								<key>Digest</key>
								<data>
								s6f9KLEasKim
								PTSaAfkKkw==
								</data>
								<key>Size</key>
								<integer>3573</integer>
							</dict>
							<key>files/archive-may-2023.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wy+GzhMrS+Ie
								XZnL87XOSg==
								</data>
								<key>Size</key>
								<integer>3841</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								JtGYcYEG1aQx
								LD3tbZQHPQ==
								</data>
								<key>Size</key>
								<integer>1453</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								B76if4JydmCq
								0FRiHBIApw==
								</data>
								<key>Size</key>
								<integer>1768</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								F8vxuJOGevtr
								tBV/tXnU7A==
								</data>
								<key>Size</key>
								<integer>3575</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>podcasts</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-11T17:27:59Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/engineer.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FyoIP1YQmF+/
								imuZgsiVxA==
								</data>
								<key>Size</key>
								<integer>6467</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								D24EE4QJW5Pi
								XuCC5M6wYQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								EvAWs6kU3ud9
								qaurZacM6Q==
								</data>
								<key>Size</key>
								<integer>1101</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-01T10:16:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>2011-11-07_22-11-50.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Vdm7d//YHsvH
								UhnZJRItPw==
								</data>
								<key>Size</key>
								<integer>96233</integer>
							</dict>
							<key>engineer.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FyoIP1YQmF+/
								imuZgsiVxA==
								</data>
								<key>Size</key>
								<integer>6467</integer>
							</dict>
							<key>qr-linkedin.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kIbsxzpGooOL
								huAYnAFl1g==
								</data>
								<key>Size</key>
								<integer>830</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:blog - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-01T10:16:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Engineer - file:///Users/vitaliiobertynskyi/Dev/association-domain.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2023-05-11T17:27:59Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated-2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pA/gANXPSz7J
								0u8JH4NX0A==
								</data>
								<key>Size</key>
								<integer>183738</integer>
							</dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								MuFa1jbiRG1m
								YW21/ngXCA==
								</data>
								<key>Size</key>
								<integer>183738</integer>
							</dict>
							<key>fonts/Lato-Light.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								/BuxgdcTU82k
								m0CqGThLvQ==
								</data>
								<key>Size</key>
								<integer>24292</integer>
							</dict>
							<key>fonts/Lato-Light.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								VNPP4M7HNJJa
								Ic6/43ihLg==
								</data>
								<key>Size</key>
								<integer>79706</integer>
							</dict>
							<key>fonts/Lato-Light.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								SdhPgvSUrsj2
								NxD9LVW6QQ==
								</data>
								<key>Size</key>
								<integer>63044</integer>
							</dict>
							<key>fonts/Lato-Light.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								uiRSvceQpP7g
								UgLqw8CSsw==
								</data>
								<key>Size</key>
								<integer>29852</integer>
							</dict>
							<key>fonts/Lato-Light.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								u70mru6cW5Z+
								NZM7zgLTWA==
								</data>
								<key>Size</key>
								<integer>23208</integer>
							</dict>
							<key>fonts/Lato-Regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								am1xUIemisWt
								eQtPe7sXZg==
								</data>
								<key>Size</key>
								<integer>26332</integer>
							</dict>
							<key>fonts/Lato-Regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								kIfkpqzuzJsp
								FIIwRJUaOg==
								</data>
								<key>Size</key>
								<integer>80331</integer>
							</dict>
							<key>fonts/Lato-Regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								2kt5voxYj1Y1
								Hk1jaPzb4Q==
								</data>
								<key>Size</key>
								<integer>60100</integer>
							</dict>
							<key>fonts/Lato-Regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								YvtR6eZF9jWZ
								I4iBud4V3Q==
								</data>
								<key>Size</key>
								<integer>28412</integer>
							</dict>
							<key>fonts/Lato-Regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								8aSgWPu6HjWk
								BhiK5+3a+A==
								</data>
								<key>Size</key>
								<integer>23316</integer>
							</dict>
							<key>fonts/Raleway-Black.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								jzjqcnOa+5EL
								xs4kv0Td1g==
								</data>
								<key>Size</key>
								<integer>24140</integer>
							</dict>
							<key>fonts/Raleway-Black.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								xdl8wLothMyk
								ATEcwAS1SA==
								</data>
								<key>Size</key>
								<integer>56197</integer>
							</dict>
							<key>fonts/Raleway-Black.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								5PrUDIEEQKM8
								Vx/rVmyPJQ==
								</data>
								<key>Size</key>
								<integer>54308</integer>
							</dict>
							<key>fonts/Raleway-Black.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								pY8l3If67BI9
								2YXGCs1U/w==
								</data>
								<key>Size</key>
								<integer>25340</integer>
							</dict>
							<key>fonts/Raleway-Black.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								D4Xkv+hl3voY
								WI/I6ESGEQ==
								</data>
								<key>Size</key>
								<integer>20840</integer>
							</dict>
							<key>fonts/Raleway-Bold.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nLI+3oasLFFA
								ygiCusEgNQ==
								</data>
								<key>Size</key>
								<integer>23794</integer>
							</dict>
							<key>fonts/Raleway-Bold.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								BZDIN1mPL/LB
								/fzT31piSA==
								</data>
								<key>Size</key>
								<integer>57967</integer>
							</dict>
							<key>fonts/Raleway-Bold.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								Qy1YeVfmqVah
								mVq12najMQ==
								</data>
								<key>Size</key>
								<integer>53732</integer>
							</dict>
							<key>fonts/Raleway-Bold.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UJj4yKpUKCTN
								VBDvkD5I4A==
								</data>
								<key>Size</key>
								<integer>25176</integer>
							</dict>
							<key>fonts/Raleway-Bold.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								3L6HA6Chd7aS
								EhJ0reVzzw==
								</data>
								<key>Size</key>
								<integer>20612</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q11Et69xtpa
								bxp3q0hZ6g==
								</data>
								<key>Size</key>
								<integer>399454</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								HwPpeo3DaKrx
								AfHMipzI5w==
								</data>
								<key>Size</key>
								<integer>155418</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Engineer</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Engineer</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict>
					<key>79C034D4-DAEF-4949-AE56-4347A43926C2</key>
					<dict>
						<key>fileName</key>
						<string>qr-linkedin.png</string>
						<key>identifier</key>
						<string>79C034D4-DAEF-4949-AE56-4347A43926C2</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/ll/133jm15j1yl55g7_yj4ds36h0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-5223/TNcMZU/qr-linkedin.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>7B73C81E-64DD-4247-A591-3C6E8D8098EA</key>
					<dict>
						<key>fileName</key>
						<string>s1e1 - 2.m4a</string>
						<key>identifier</key>
						<string>7B73C81E-64DD-4247-A591-3C6E8D8098EA</string>
						<key>lastResolvablePath</key>
						<string>/Users/vitaliiobertynskyi/Documents/_PODCAST/s1/s1e1 - 2.m4a</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>A3D1A8DA-1D51-4FD9-B169-8BE012D2AE2F</key>
					<dict>
						<key>fileName</key>
						<string>engineer.png</string>
						<key>identifier</key>
						<string>A3D1A8DA-1D51-4FD9-B169-8BE012D2AE2F</string>
						<key>lastResolvablePath</key>
						<string></string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>C5979E17-9413-44C4-8BBE-D396B1A266B3</key>
					<dict>
						<key>fileName</key>
						<string>2011-11-07_22-11-50.jpg</string>
						<key>identifier</key>
						<string>C5979E17-9413-44C4-8BBE-D396B1A266B3</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/ll/133jm15j1yl55g7_yj4ds36h0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-2636/7BOY0M/2011-11-07_22-11-50.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lv
				blkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0cxIAAYagXxAP
				TlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBfAAsA
				DAAVABYAIAAhACIAJQAsADkATABNAE4ATwBTAFYAXABC
				AF4AYgBmAHEAcgBzAHQAegB9AIAAhgCHAJIAkwCUAJUA
				mQCcAKIAowCuAK8AsACxALQAugC7ALwAxwDIAMkAygDO
				ANEA1wDYAOMA5ADlAOYA6gDtAPMA9AD/AQABAQECAQYB
				CQEPARABGwEcAR0BHgEiASUBKwEsATcBOAE5AToBPQFD
				AUQBRQFQAVEBUgFTAVcBWgFgAWEBZVUkbnVsbNMADQAO
				AA8AEAASABRXTlMua2V5c1pOUy5vYmplY3RzViRjbGFz
				c6EAEYACoQATgAOAXlRub2Rl1QAXABgAGQAaAA8AGwAc
				AB0AHgAfVE5hbWVVaXRlbXNaaWRlbnRpZmllclhjaGls
				ZHJlboAFgAiABIAGgF1fECQxNTczMkVCOC03RTRELTRC
				RTYtQkFBNy05ODEwQ0RERTRBQzNfEA9VbnRpdGxlZCBG
				b2xkZXLSAA4ADwAjACSggAfSACYAJwAoAClaJGNsYXNz
				bmFtZVgkY2xhc3Nlc15OU011dGFibGVBcnJheaMAKAAq
				ACtXTlNBcnJheVhOU09iamVjdNIADgAPAC0AJKoALgAv
				ADAAMQAyADMANAA1ADYAN4AJgBSAHYAlgC2ANYA9gEWA
				TYBVgAfaADoAOwAPADwAPQA+ABcAPwBAAEEAQgBDAEQA
				QwBDAEcASABJAEoAS15SZW1vdGVSZXNvdXJjZVtPcmln
				aW5hbFVSTFxQdWJsaXNoZWRVUkxdUHVibGlzaGVkRGF0
				ZV8QD0NoYW5nZWRTdGF0dXNlc1pJZGVudGlmaWVyWVRp
				bWVTdGFtcFlGaWxlVG9rZW4IgACAE4AAgACAD4ALgAqA
				DYAMXxAkQUYwQzBBMUQtOEM2Qy00MERFLTg1NDAtNEQz
				NDBFQTM0RkM3XGVuZ2luZWVyLnBuZ18QJEEzRDFBOERB
				LTFENTEtNEZEOS1CMTY5LThCRTAxMkQyQUUyRtIAUAAP
				AFEAUldOUy50aW1lI0HFBq6QMFZYgA7SACYAJwBUAFVW
				TlNEYXRlogBUACvTAA0ADgAPAFcAWQBboQBYgBChAFqA
				EYASXxBCZmlsZTovLy9Vc2Vycy92aXRhbGlpb2JlcnR5
				bnNreWkvRGV2L2Fzc29jaWF0aW9uLWRvbWFpbi5naXRo
				dWIuaW8vCNIAJgAnAF8AYF8QE05TTXV0YWJsZURpY3Rp
				b25hcnmjAF8AYQArXE5TRGljdGlvbmFyedIAJgAnAGMA
				ZF5SV1NpdGVSZXNvdXJjZaIAZQArXlJXU2l0ZVJlc291
				cmNl2gA6ADsADwA8AD0APgAXAD8AQABBAGcAQwBEAGoA
				QwBsAG0AbgBvAHAJgACAE4AYgACAG4AWgBWAGoAXXxAk
				NTdDMzJERDItNkI2Mi00RjNBLTk3Q0MtMTlBRDYwOTk2
				QTg4XxAkcGhvdG8tMTQ1NTE2NTgxNDAwNC0xMTI2YTcx
				OTlmOWIuanBnXxC+aHR0cHM6Ly9pbWFnZXMudW5zcGxh
				c2guY29tL3Bob3RvLTE0NTUxNjU4MTQwMDQtMTEyNmE3
				MTk5ZjliP2l4bGliPXJiLTAuMy41JnE9ODAmZm09anBn
				JmNyb3A9ZW50cm9weSZjcz10aW55c3JnYiZ3PTEwODAm
				Zml0PW1heCZpeGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1
				ZlEmcz03MTdiYjc3ZWU4MGVmMjE0MjE5ZGRkNmI0OTNm
				ZmJlOdMAdQAPAHYAQwB4AHBXTlMuYmFzZVtOUy5yZWxh
				dGl2ZYAAgBmAF9IAJgAnAHsAfFVOU1VSTKIAewAr0gBQ
				AA8AfgBSI0HFBq6QMFa0gA7TAA0ADgAPAIEAgwBboQCC
				gByhAFqAEYASXxBCZmlsZTovLy9Vc2Vycy92aXRhbGlp
				b2JlcnR5bnNreWkvRGV2L2Fzc29jaWF0aW9uLWRvbWFp
				bi5naXRodWIuaW8v2gA6ADsADwA8AD0APgAXAD8AQABB
				AGcAQwBEAIsAQwCNAI4AjwCQAJEJgACAE4AhgACAI4Af
				gB6AIoAgXxAkNzExOURCQTYtMjVGMy00OTk3LTkyNjct
				NDE3NkJBNDc0QjgwXxAkcGhvdG8tMTUxNjIyOTE4ODY2
				NS01YWI5Y2I1M2NlNzguanBnXxC+aHR0cHM6Ly9pbWFn
				ZXMudW5zcGxhc2guY29tL3Bob3RvLTE1MTYyMjkxODg2
				NjUtNWFiOWNiNTNjZTc4P2l4bGliPXJiLTAuMy41JnE9
				ODAmZm09anBnJmNyb3A9ZW50cm9weSZjcz10aW55c3Jn
				YiZ3PTEwODAmZml0PW1heCZpeGlkPWV5SmhjSEJmYVdR
				aU9qRXpNalE1ZlEmcz1hNDE4YjIwMjRiYjMwYTNhMzcy
				MTdjYTUyY2JiM2YyY9MAdQAPAHYAQwB4AJGAAIAZgCDS
				AFAADwCaAFIjQcUGrpAwVtaADtMADQAOAA8AnQCfAFuh
				AJ6AJKEAWoARgBJfEEJmaWxlOi8vL1VzZXJzL3ZpdGFs
				aWlvYmVydHluc2t5aS9EZXYvYXNzb2NpYXRpb24tZG9t
				YWluLmdpdGh1Yi5pby/aADoAOwAPADwAPQA+ABcAPwBA
				AEEAQgClAEQAQwBDAKkAqgCrAKwArQiALIATgACAAIAq
				gCeAJoApgChfECRCRDk1OUJBQi0yMEIwLTQyRjAtODYy
				QS1FQUE3MzUzN0YyRUZfEBcyMDExLTExLTA3XzIyLTEx
				LTUwLmpwZ18QJEM1OTc5RTE3LTk0MTMtNDRDNC04QkJF
				LUQzOTZCMUEyNjZCM9IAUAAPALIAUiNBxQaukDBW94AO
				0wANAA4ADwC1ALcAW6EAtoAroQBagBGAEl8QQmZpbGU6
				Ly8vVXNlcnMvdml0YWxpaW9iZXJ0eW5za3lpL0Rldi9h
				c3NvY2lhdGlvbi1kb21haW4uZ2l0aHViLmlvL18QRC9V
				c2Vycy92aXRhbGlpb2JlcnR5bnNreWkvRGVza3RvcC9J
				bnN0YXNoYXJlLzIwMTEtMTEtMDdfMjItMTEtNTAuanBn
				2gA6ADsADwA8AD0APgAXAD8AQABBAGcAQwBEAMAAQwDC
				AMMAxADFAMYJgACAE4AxgACAM4AvgC6AMoAwXxAkNDBE
				MjBBNTktMkI2MC00NzIxLTk3RTYtRDA0NUI5NjQ2NTNC
				XxAgcGhvdG8tMTU5NDAzMTI0NTc1NS0xYWM5OWJiYzdh
				M2NfEMdodHRwczovL2ltYWdlcy51bnNwbGFzaC5jb20v
				cGhvdG8tMTU5NDAzMTI0NTc1NS0xYWM5OWJiYzdhM2M/
				Y3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdiJmZpdD1tYXgm
				Zm09anBnJml4aWQ9TW53eE16STBPWHd3ZkRGOGMyVmhj
				bU5vZkRReGZIeHRZV05pYjI5cmZHVnVmREI4Zkh4OE1U
				WTRNamt6TlRVNE53Jml4bGliPXJiLTQuMC4zJnE9ODAm
				dz0xMDgw0wB1AA8AdgBDAHgAxoAAgBmAMNIAUAAPAM8A
				UiNBxQaukDBXGYAO0wANAA4ADwDSANQAW6EA04A0oQBa
				gBGAEl8QQmZpbGU6Ly8vVXNlcnMvdml0YWxpaW9iZXJ0
				eW5za3lpL0Rldi9hc3NvY2lhdGlvbi1kb21haW4uZ2l0
				aHViLmlvL9oAOgA7AA8APAA9AD4AFwA/AEAAQQBnAEMA
				RADcAEMA3gDfAOAA4QDiCYAAgBOAOYAAgDuAN4A2gDqA
				OF8QJDM1OEQ0NTIzLUMyMDgtNDU3Qy1BODgyLTBENTU2
				NDk3RjZGNF8QIHBob3RvLTE0OTk3NTAzMTAxMDctNWZl
				ZjI4YTY2NjQzXxDFaHR0cHM6Ly9pbWFnZXMudW5zcGxh
				c2guY29tL3Bob3RvLTE0OTk3NTAzMTAxMDctNWZlZjI4
				YTY2NjQzP2Nyb3A9ZW50cm9weSZjcz10aW55c3JnYiZm
				aXQ9bWF4JmZtPWpwZyZpeGlkPU1ud3hNekkwT1h3d2ZE
				RjhjMlZoY21Ob2ZEaDhmRzFoWTJKdmIydDhaVzU4TUh4
				OGZId3hOamd5T1RNMU5UZzImaXhsaWI9cmItNC4wLjMm
				cT04MCZ3PTEwODDTAHUADwB2AEMAeADigACAGYA40gBQ
				AA8A6wBSI0HFBq6QMFcygA7TAA0ADgAPAO4A8ABboQDv
				gDyhAFqAEYASXxBCZmlsZTovLy9Vc2Vycy92aXRhbGlp
				b2JlcnR5bnNreWkvRGV2L2Fzc29jaWF0aW9uLWRvbWFp
				bi5naXRodWIuaW8v2gA6ADsADwA8AD0APgAXAD8AQABB
				AGcAQwBEAPgAQwD6APsA/AD9AP4JgACAE4BBgACAQ4A/
				gD6AQoBAXxAkNENENTYzOTUtODg3Ny00ODA4LTkzNTYt
				MUZGQUNFRDA4MUU1XxAgcGhvdG8tMTYxNjQwMDYxOTE3
				NS01YmVkYTNhMTc4OTZfEMdodHRwczovL2ltYWdlcy51
				bnNwbGFzaC5jb20vcGhvdG8tMTYxNjQwMDYxOTE3NS01
				YmVkYTNhMTc4OTY/Y3JvcD1lbnRyb3B5JmNzPXRpbnlz
				cmdiJmZpdD1tYXgmZm09anBnJml4aWQ9TW53eE16STBP
				WHd3ZkRGOGMyVmhjbU5vZkRFeWZIeHRZV05pYjI5cmZH
				VnVmREI4Zkh4OE1UWTRNamt6TlRVNE5nJml4bGliPXJi
				LTQuMC4zJnE9ODAmdz0xMDgw0wB1AA8AdgBDAHgA/oAA
				gBmAQNIAUAAPAQcAUiNBxQaukDBXS4AO0wANAA4ADwEK
				AQwAW6EBC4BEoQBagBGAEl8QQmZpbGU6Ly8vVXNlcnMv
				dml0YWxpaW9iZXJ0eW5za3lpL0Rldi9hc3NvY2lhdGlv
				bi1kb21haW4uZ2l0aHViLmlvL9oAOgA7AA8APAA9AD4A
				FwA/AEAAQQBnAEMARAEUAEMBFgEXARgBGQEaCYAAgBOA
				SYAAgEuAR4BGgEqASF8QJDk2QUU1MkRCLTUzRUItNDk2
				Ni1CQjMzLUEyN0JEMkU4QjIyMV8QIHBob3RvLTE1OTMw
				NjIwOTYwMzMtOWEyNmIwOWRhNzA1XxDHaHR0cHM6Ly9p
				bWFnZXMudW5zcGxhc2guY29tL3Bob3RvLTE1OTMwNjIw
				OTYwMzMtOWEyNmIwOWRhNzA1P2Nyb3A9ZW50cm9weSZj
				cz10aW55c3JnYiZmaXQ9bWF4JmZtPWpwZyZpeGlkPU1u
				d3hNekkwT1h3d2ZERjhjMlZoY21Ob2ZESXhmSHh0WVdO
				aWIyOXJmR1Z1ZkRCOGZIeDhNVFk0TWprek5UVTROdyZp
				eGxpYj1yYi00LjAuMyZxPTgwJnc9MTA4MNMAdQAPAHYA
				QwB4ARqAAIAZgEjSAFAADwEjAFIjQcUGrpAwV22ADtMA
				DQAOAA8BJgEoAFuhASeATKEAWoARgBJfEEJmaWxlOi8v
				L1VzZXJzL3ZpdGFsaWlvYmVydHluc2t5aS9EZXYvYXNz
				b2NpYXRpb24tZG9tYWluLmdpdGh1Yi5pby/aADoAOwAP
				ADwAPQA+ABcAPwBAAEEAQgEuAEQAQwBDATIBMwE0ATUB
				NgiAVIATgACAAIBSgE+AToBRgFBfECRBNUQ2MEEyMi0z
				NkM0LTQyOUEtOTE2RC1CNUE4RTlBMDNERjhfEA9xci1s
				aW5rZWRpbi5wbmdfECQ3OUMwMzRENC1EQUVGLTQ5NDkt
				QUU1Ni00MzQ3QTQzOTI2QzLSAFAADwE7AFIjQcUGrpAw
				V4aADtMADQAOAA8BPgFAAFuhAT+AU6EAWoARgBJfEEJm
				aWxlOi8vL1VzZXJzL3ZpdGFsaWlvYmVydHluc2t5aS9E
				ZXYvYXNzb2NpYXRpb24tZG9tYWluLmdpdGh1Yi5pby9f
				EDMvVXNlcnMvdml0YWxpaW9iZXJ0eW5za3lpL0RvY3Vt
				ZW50cy9xci1saW5rZWRpbi5wbmfaADoAOwAPADwAPQA+
				ABcAPwBAAEEAZwBDAEQBSQBDAUsBTAFNAU4BTwmAAIAT
				gFmAAIBbgFeAVoBagFhfECQ5NjhBNTJDMC1BQkE3LTQy
				QTQtOUI1MC0xMDhBRDY3QThBODJfECRwaG90by0xNTkw
				NjAyODQ2OTg5LWU5OTU5NmQyYTZlZS5qcGdfEMhodHRw
				czovL2ltYWdlcy51bnNwbGFzaC5jb20vcGhvdG8tMTU5
				MDYwMjg0Njk4OS1lOTk1OTZkMmE2ZWU/Y3JvcD1lbnRy
				b3B5JmNzPXRpbnlzcmdiJmZpdD1tYXgmZm09anBnJml4
				aWQ9TTN3eE16STBPWHd3ZkRGOGMyVmhjbU5vZkRsOGZI
				QnZaR05oYzNSOFpXNThNSHg4Zkh3eE5qZ3pPREkxTVRj
				NGZEQSZpeGxpYj1yYi00LjAuMyZxPTgwJnc9MTA4MNMA
				dQAPAHYAQwB4AU+AAIAZgFjSAFAADwFYAFIjQcUGrpAw
				V5+ADtMADQAOAA8BWwFdAFuhAVyAXKEAWoARgBJfEEJm
				aWxlOi8vL1VzZXJzL3ZpdGFsaWlvYmVydHluc2t5aS9E
				ZXYvYXNzb2NpYXRpb24tZG9tYWluLmdpdGh1Yi5pby/S
				ACYAJwFiAWNcUldTaXRlRm9sZGVyogFkACtcUldTaXRl
				Rm9sZGVy0gAmACcAYQFmogBhACsACAAZACIALAAxADoA
				PwBRAFYAWwBdAR4BJAExATkBRAFLAU4BUAFTAVUBVwFc
				AXEBdgF8AYcBkAGSAZQBlgGYAZoBwQHTAdwB3QHfAegB
				8wH8AgsCEgIaAiMCLAJBAkMCRQJHAkkCSwJNAk8CUQJT
				AlUCVwKAAo8CmwKoArYCyALTAt0C5wLoAuoC7ALuAvAC
				8gL0AvYC+AL6AyEDLgNVA14DZgNvA3EDegOBA4YDkwOW
				A5gDmwOdA58D5APlA+4EBAQLBBgEIQQwBDUERARtBG4E
				cARyBHQEdgR4BHoEfAR+BIAEpwTOBY8FnAWkBbAFsgW0
				BbYFvwXFBcoF0wXcBd4F6wXuBfAF8wX1BfcGPAZlBmYG
				aAZqBmwGbgZwBnIGdAZ2BngGnwbGB4cHlAeWB5gHmgej
				B6wHrge7B74HwAfDB8UHxwgMCDUINgg4CDoIPAg+CEAI
				QghECEYISAhvCIkIsAi5CMIIxAjRCNQI1gjZCNsI3Qki
				CWkJkgmTCZUJlwmZCZsJnQmfCaEJowmlCcwJ7wq5CsYK
				yArKCswK1QreCuAK7QrwCvIK9Qr3CvkLPgtnC2gLagts
				C24LcAtyC3QLdgt4C3oLoQvEDIwMmQybDJ0MnwyoDLEM
				swzADMMMxQzIDMoMzA0RDToNOw09DT8NQQ1DDUUNRw1J
				DUsNTQ10DZcOYQ5uDnAOcg50Dn0Ohg6IDpUOmA6aDp0O
				nw6hDuYPDw8QDxIPFA8WDxgPGg8cDx4PIA8iD0kPbBA2
				EEMQRRBHEEkQUhBbEF0QahBtEG8QchB0EHYQuxDkEOUQ
				5xDpEOsQ7RDvEPEQ8xD1EPcRHhEwEVcRYBFpEWsReBF7
				EX0RgBGCEYQRyRH/EigSKRIrEi0SLxIxEjMSNRI3EjkS
				OxJiEokTVBNhE2MTZRNnE3ATeRN7E4gTixONE5ATkhOU
				E9kT4hPvE/QUARQKAAAAAAAAAgIAAAAAAAABZwAAAAAA
				AAAAAAAAAAAAFA8=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>40D20A59-2B60-4721-97E6-D045B964653B</string>
					<key>BaseURL</key>
					<string>https://miraving.github.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>All rights reserved © 2023</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>oxdead@icloud.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>1</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va9ACAAAAAAQQMAAA
							AHBCvTPYWtTrw2J9db3g
							CpK77mzDAIoREgKXLg/W
							FzMkzAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAASAAAAAQEAAHZp
							dGFsaWlvYmVydHluc2t5
							aQAAAwAAAAEBAABEZXYA
							HAAAAAEBAABhc3NvY2lh
							dGlvbi1kb21haW4uZ2l0
							aHViLmlvEAAAAAEGAAAQ
							AAAAIAAAADwAAABIAAAA
							CAAAAAQDAABkYQAAAAAA
							AAgAAAAEAwAAUYgAAAAA
							AAAIAAAABAMAAJ8BDwAA
							AAAACAAAAAQDAAD5kXoB
							AAAAABAAAAABBgAAhAAA
							AJQAAACkAAAAtAAAAAgA
							AAAABAAAQcNCWNw/hD0Y
							AAAAAQIAAAIAAAAAAAAA
							DwAAAAAAAAAAAAAAAAAA
							AAgAAAAEAwAAAgAAAAAA
							AAAEAAAAAwMAAPUBAAAI
							AAAAAQkAAGZpbGU6Ly8v
							DAAAAAEBAABNYWNpbnRv
							c2ggSEQIAAAABAMAAACg
							IGh0AAAACAAAAAAEAABB
							xOxLvQAAACQAAAABAQAA
							QkNGMTk0RTctMTU1RS00
							QjU4LUIzQ0MtNUJCODg3
							RTVCMjA0GAAAAAECAACB
							AAAAAQAAAO8TAAABAAAA
							AAAAAAAAAAABAAAAAQEA
							AC8AAAAAAAAAAQUAAMwA
							AAD+////AQAAAAAAAAAQ
							AAAABBAAAGwAAAAAAAAA
							BRAAAMQAAAAAAAAAEBAA
							AOwAAAAAAAAAQBAAANwA
							AAAAAAAAAiAAALgBAAAA
							AAAABSAAACgBAAAAAAAA
							ECAAADgBAAAAAAAAESAA
							AGwBAAAAAAAAEiAAAEwB
							AAAAAAAAEyAAAFwBAAAA
							AAAAICAAAJgBAAAAAAAA
							MCAAAMQBAAAAAAAAAcAA
							AAwBAAAAAAAAEcAAACAA
							AAAAAAAAEsAAABwBAAAA
							AAAAENAAAAQAAAAAAAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>lastBackup</key>
							<date>2023-05-11T17:28:00Z</date>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RWBadge</key>
					<string>{"imageAlt":"RapidWeaver Icon","delayType":"time","position":"bottomLeft","hiddenOnDesktop":false,"hiddenOnMobile":false,"url":"https:\/\/www.realmacsoftware.com","openInNewWindow":true,"hiddenOnTablet":false,"delayMillis":1000,"enabled":false,"text":"Made in RapidWeaver","colorScheme":"auto","transition":"slide","useDefaultImage":true,"delayDistance":30}</string>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLogoIdentifier</key>
					<string>AF0C0A1D-8C6C-40DE-8540-4D340EA34FC7</string>
					<key>SloganText</key>
					<string>Team Lead / Senior iOS Developer</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Engineer</string>
					<key>TitleText</key>
					<string>Viitalii Obertynskyi</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6379436C-5E11-4378-A2CF-AEEDCB9D1DAF_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalBodyStart</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalBodyStart</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<false/>
					<key>webServerPHPVersion</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
