<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict/>
				<key>RWFileReferences</key>
				<dict>
					<key>79C034D4-DAEF-4949-AE56-4347A43926C2</key>
					<dict>
						<key>fileName</key>
						<string>qr-linkedin.png</string>
						<key>identifier</key>
						<string>79C034D4-DAEF-4949-AE56-4347A43926C2</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/ll/133jm15j1yl55g7_yj4ds36h0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-5223/TNcMZU/qr-linkedin.png</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>A3D1A8DA-1D51-4FD9-B169-8BE012D2AE2F</key>
					<dict>
						<key>fileName</key>
						<string>engineer.png</string>
						<key>identifier</key>
						<string>A3D1A8DA-1D51-4FD9-B169-8BE012D2AE2F</string>
						<key>lastResolvablePath</key>
						<string></string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
					<key>C5979E17-9413-44C4-8BBE-D396B1A266B3</key>
					<dict>
						<key>fileName</key>
						<string>2011-11-07_22-11-50.jpg</string>
						<key>identifier</key>
						<string>C5979E17-9413-44C4-8BBE-D396B1A266B3</string>
						<key>lastResolvablePath</key>
						<string>/var/folders/ll/133jm15j1yl55g7_yj4ds36h0000gn/T/com.realmacsoftware.rapidweaver-setapp/com.realmacsoftware.rapidweaver-setapp-2636/7BOY0M/2011-11-07_22-11-50.jpg</string>
						<key>storedInsideDocument</key>
						<true/>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lv
				blkkYXJjaGl2ZXJUJHRvcFgkb2JqZWN0cxIAAYagXxAP
				TlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBNAAsA
				DAAVABYAIAAhACIAJQAsADgASwBMAE0ATgBSAFUAWQBd
				AGEAbABtAG4AbwB1AHgAewB/AIoAiwCMAI0AkQCUAJgA
				owCkAKUApgCpAK0ArgC5ALoAuwC8AMAAwwDHANIA0wDU
				ANUA2QDcAOAA6wDsAO0A7gDyAPUA+QEEAQUBBgEHAQsB
				DgESAR0BHgEfASABIwEnASgBLFUkbnVsbNMADQAOAA8A
				EAASABRXTlMua2V5c1pOUy5vYmplY3RzViRjbGFzc6EA
				EYACoQATgAOATFRub2Rl1QAXABgAGQAaAA8AGwAcAB0A
				HgAfVE5hbWVVaXRlbXNaaWRlbnRpZmllclhjaGlsZHJl
				boAFgAiABIAGgEtfECQxNTczMkVCOC03RTRELTRCRTYt
				QkFBNy05ODEwQ0RERTRBQzNfEA9VbnRpdGxlZCBGb2xk
				ZXLSAA4ADwAjACSggAfSACYAJwAoAClaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc15OU011dGFibGVBcnJheaMAKAAqACtX
				TlNBcnJheVhOU09iamVjdNIADgAPAC0AJKkALgAvADAA
				MQAyADMANAA1ADaACYASgBqAIYAogC+ANoA9gESAB9oA
				OQA6AA8AOwA8AD0AFwA+AD8AQABBAEIAQwBCAEIARgBH
				AEgASQBKXlJlbW90ZVJlc291cmNlW09yaWdpbmFsVVJM
				XFB1Ymxpc2hlZFVSTF1QdWJsaXNoZWREYXRlXxAPQ2hh
				bmdlZFN0YXR1c2VzWklkZW50aWZpZXJZVGltZVN0YW1w
				WUZpbGVUb2tlbgiAAIARgACAAIAPgAuACoANgAxfECRB
				RjBDMEExRC04QzZDLTQwREUtODU0MC00RDM0MEVBMzRG
				QzdcZW5naW5lZXIucG5nXxAkQTNEMUE4REEtMUQ1MS00
				RkQ5LUIxNjktOEJFMDEyRDJBRTJG0gBPAA8AUABRV05T
				LnRpbWUjQcB+YpxFjZKADtIAJgAnAFMAVFZOU0RhdGWi
				AFMAK9MADQAOAA8AVgBXAFigoIAQ0gAmACcAWgBbXxAT
				TlNNdXRhYmxlRGljdGlvbmFyeaMAWgBcACtcTlNEaWN0
				aW9uYXJ50gAmACcAXgBfXlJXU2l0ZVJlc291cmNlogBg
				ACteUldTaXRlUmVzb3VyY2XaADkAOgAPADsAPAA9ABcA
				PgA/AEAAYgBCAEMAZQBCAGcAaABpAGoAawmAAIARgBaA
				AIAZgBSAE4AYgBVfECQ1N0MzMkREMi02QjYyLTRGM0Et
				OTdDQy0xOUFENjA5OTZBODhfECRwaG90by0xNDU1MTY1
				ODE0MDA0LTExMjZhNzE5OWY5Yi5qcGdfEL5odHRwczov
				L2ltYWdlcy51bnNwbGFzaC5jb20vcGhvdG8tMTQ1NTE2
				NTgxNDAwNC0xMTI2YTcxOTlmOWI/aXhsaWI9cmItMC4z
				LjUmcT04MCZmbT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRp
				bnlzcmdiJnc9MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNI
				QmZhV1FpT2pFek1qUTVmUSZzPTcxN2JiNzdlZTgwZWYy
				MTQyMTlkZGQ2YjQ5M2ZmYmU50wBwAA8AcQBCAHMAa1dO
				Uy5iYXNlW05TLnJlbGF0aXZlgACAF4AV0gAmACcAdgB3
				VU5TVVJMogB2ACvSAE8ADwB5AFEjQcB+ZcptWvuADtMA
				DQAOAA8AfAB9AFigoIAQ2gA5ADoADwA7ADwAPQAXAD4A
				PwBAAGIAQgBDAIMAQgCFAIYAhwCIAIkJgACAEYAegACA
				IIAcgBuAH4AdXxAkNzExOURCQTYtMjVGMy00OTk3LTky
				NjctNDE3NkJBNDc0QjgwXxAkcGhvdG8tMTUxNjIyOTE4
				ODY2NS01YWI5Y2I1M2NlNzguanBnXxC+aHR0cHM6Ly9p
				bWFnZXMudW5zcGxhc2guY29tL3Bob3RvLTE1MTYyMjkx
				ODg2NjUtNWFiOWNiNTNjZTc4P2l4bGliPXJiLTAuMy41
				JnE9ODAmZm09anBnJmNyb3A9ZW50cm9weSZjcz10aW55
				c3JnYiZ3PTEwODAmZml0PW1heCZpeGlkPWV5SmhjSEJm
				YVdRaU9qRXpNalE1ZlEmcz1hNDE4YjIwMjRiYjMwYTNh
				MzcyMTdjYTUyY2JiM2YyY9MAcAAPAHEAQgBzAImAAIAX
				gB3SAE8ADwCSAFEjQcB+ZjD/uKKADtMADQAOAA8AlQCW
				AFigoIAQ2gA5ADoADwA7ADwAPQAXAD4APwBAAEEAmgBD
				AEIAQgCeAJ8AoAChAKIIgCeAEYAAgACAJoAjgCKAJYAk
				XxAkQkQ5NTlCQUItMjBCMC00MkYwLTg2MkEtRUFBNzM1
				MzdGMkVGXxAXMjAxMS0xMS0wN18yMi0xMS01MC5qcGdf
				ECRDNTk3OUUxNy05NDEzLTQ0QzQtOEJCRS1EMzk2QjFB
				MjY2QjPSAE8ADwCnAFEjQcT/4A3oz3qADtMADQAOAA8A
				qgCrAFigoIAQXxBEL1VzZXJzL3ZpdGFsaWlvYmVydHlu
				c2t5aS9EZXNrdG9wL0luc3Rhc2hhcmUvMjAxMS0xMS0w
				N18yMi0xMS01MC5qcGfaADkAOgAPADsAPAA9ABcAPgA/
				AEAAYgBCAEMAsgBCALQAtQC2ALcAuAmAAIARgCyAAIAu
				gCqAKYAtgCtfECQ0MEQyMEE1OS0yQjYwLTQ3MjEtOTdF
				Ni1EMDQ1Qjk2NDY1M0JfECBwaG90by0xNTk0MDMxMjQ1
				NzU1LTFhYzk5YmJjN2EzY18Qx2h0dHBzOi8vaW1hZ2Vz
				LnVuc3BsYXNoLmNvbS9waG90by0xNTk0MDMxMjQ1NzU1
				LTFhYzk5YmJjN2EzYz9jcm9wPWVudHJvcHkmY3M9dGlu
				eXNyZ2ImZml0PW1heCZmbT1qcGcmaXhpZD1Nbnd4TXpJ
				ME9Yd3dmREY4YzJWaGNtTm9mRFF4Zkh4dFlXTmliMjly
				ZkdWdWZEQjhmSHg4TVRZNE1qa3pOVFU0TncmaXhsaWI9
				cmItNC4wLjMmcT04MCZ3PTEwODDTAHAADwBxAEIAcwC4
				gACAF4Ar0gBPAA8AwQBRI0HE/+OXCw7DgA7TAA0ADgAP
				AMQAxQBYoKCAENoAOQA6AA8AOwA8AD0AFwA+AD8AQABi
				AEIAQwDLAEIAzQDOAM8A0ADRCYAAgBGAM4AAgDWAMYAw
				gDSAMl8QJDM1OEQ0NTIzLUMyMDgtNDU3Qy1BODgyLTBE
				NTU2NDk3RjZGNF8QIHBob3RvLTE0OTk3NTAzMTAxMDct
				NWZlZjI4YTY2NjQzXxDFaHR0cHM6Ly9pbWFnZXMudW5z
				cGxhc2guY29tL3Bob3RvLTE0OTk3NTAzMTAxMDctNWZl
				ZjI4YTY2NjQzP2Nyb3A9ZW50cm9weSZjcz10aW55c3Jn
				YiZmaXQ9bWF4JmZtPWpwZyZpeGlkPU1ud3hNekkwT1h3
				d2ZERjhjMlZoY21Ob2ZEaDhmRzFoWTJKdmIydDhaVzU4
				TUh4OGZId3hOamd5T1RNMU5UZzImaXhsaWI9cmItNC4w
				LjMmcT04MCZ3PTEwODDTAHAADwBxAEIAcwDRgACAF4Ay
				0gBPAA8A2gBRI0HE/+Oz6d9VgA7TAA0ADgAPAN0A3gBY
				oKCAENoAOQA6AA8AOwA8AD0AFwA+AD8AQABiAEIAQwDk
				AEIA5gDnAOgA6QDqCYAAgBGAOoAAgDyAOIA3gDuAOV8Q
				JDRDRDU2Mzk1LTg4NzctNDgwOC05MzU2LTFGRkFDRUQw
				ODFFNV8QIHBob3RvLTE2MTY0MDA2MTkxNzUtNWJlZGEz
				YTE3ODk2XxDHaHR0cHM6Ly9pbWFnZXMudW5zcGxhc2gu
				Y29tL3Bob3RvLTE2MTY0MDA2MTkxNzUtNWJlZGEzYTE3
				ODk2P2Nyb3A9ZW50cm9weSZjcz10aW55c3JnYiZmaXQ9
				bWF4JmZtPWpwZyZpeGlkPU1ud3hNekkwT1h3d2ZERjhj
				MlZoY21Ob2ZERXlmSHh0WVdOaWIyOXJmR1Z1ZkRCOGZI
				eDhNVFk0TWprek5UVTROZyZpeGxpYj1yYi00LjAuMyZx
				PTgwJnc9MTA4MNMAcAAPAHEAQgBzAOqAAIAXgDnSAE8A
				DwDzAFEjQcT/47VLm5mADtMADQAOAA8A9gD3AFigoIAQ
				2gA5ADoADwA7ADwAPQAXAD4APwBAAGIAQgBDAP0AQgD/
				AQABAQECAQMJgACAEYBBgACAQ4A/gD6AQoBAXxAkOTZB
				RTUyREItNTNFQi00OTY2LUJCMzMtQTI3QkQyRThCMjIx
				XxAgcGhvdG8tMTU5MzA2MjA5NjAzMy05YTI2YjA5ZGE3
				MDVfEMdodHRwczovL2ltYWdlcy51bnNwbGFzaC5jb20v
				cGhvdG8tMTU5MzA2MjA5NjAzMy05YTI2YjA5ZGE3MDU/
				Y3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdiJmZpdD1tYXgm
				Zm09anBnJml4aWQ9TW53eE16STBPWHd3ZkRGOGMyVmhj
				bU5vZkRJeGZIeHRZV05pYjI5cmZHVnVmREI4Zkh4OE1U
				WTRNamt6TlRVNE53Jml4bGliPXJiLTQuMC4zJnE9ODAm
				dz0xMDgw0wBwAA8AcQBCAHMBA4AAgBeAQNIATwAPAQwA
				USNBxP/jugfqFIAO0wANAA4ADwEPARAAWKCggBDaADkA
				OgAPADsAPAA9ABcAPgA/AEAAQQEUAEMAQgBCARgBGQEa
				ARsBHAiASoARgACAAIBJgEaARYBIgEdfECRBNUQ2MEEy
				Mi0zNkM0LTQyOUEtOTE2RC1CNUE4RTlBMDNERjhfEA9x
				ci1saW5rZWRpbi5wbmdfECQ3OUMwMzRENC1EQUVGLTQ5
				NDktQUU1Ni00MzQ3QTQzOTI2QzLSAE8ADwEhAFEjQcT/
				4wr4rpuADtMADQAOAA8BJAElAFigoIAQXxAzL1VzZXJz
				L3ZpdGFsaWlvYmVydHluc2t5aS9Eb2N1bWVudHMvcXIt
				bGlua2VkaW4ucG5n0gAmACcBKQEqXFJXU2l0ZUZvbGRl
				cqIBKwArXFJXU2l0ZUZvbGRlctIAJgAnAFwBLaIAXAAr
				AAgAGQAiACwAMQA6AD8AUQBWAFsAXQD6AQABDQEVASAB
				JwEqASwBLwExATMBOAFNAVIBWAFjAWwBbgFwAXIBdAF2
				AZ0BrwG4AbkBuwHEAc8B2AHnAe4B9gH/AggCGwIdAh8C
				IQIjAiUCJwIpAisCLQIvAlgCZwJzAoACjgKgAqsCtQK/
				AsACwgLEAsYCyALKAswCzgLQAtIC+QMGAy0DNgM+A0cD
				SQNSA1kDXgNrA2wDbQNvA3gDjgOVA6IDqwO6A78DzgP3
				A/gD+gP8A/4EAAQCBAQEBgQIBAoEMQRYBRkFJgUuBToF
				PAU+BUAFSQVPBVQFXQVmBWgFdQV2BXcFeQWiBaMFpQWn
				BakFqwWtBa8FsQWzBbUF3AYDBsQG0QbTBtUG1wbgBukG
				6wb4BvkG+gb8ByUHJgcoByoHLAcuBzAHMgc0BzYHOAdf
				B3kHoAepB7IHtAfBB8IHwwfFCAwINQg2CDgIOgg8CD4I
				QAhCCEQIRghICG8IkglcCWkJawltCW8JeAmBCYMJkAmR
				CZIJlAm9Cb4JwAnCCcQJxgnICcoJzAnOCdAJ9woaCuIK
				7wrxCvMK9Qr+CwcLCQsWCxcLGAsaC0MLRAtGC0gLSgtM
				C04LUAtSC1QLVgt9C6AMagx3DHkMewx9DIYMjwyRDJ4M
				nwygDKIMywzMDM4M0AzSDNQM1gzYDNoM3AzeDQUNKA3y
				Df8OAQ4DDgUODg4XDhkOJg4nDigOKg5TDlQOVg5YDloO
				XA5eDmAOYg5kDmYOjQ6fDsYOzw7YDtoO5w7oDukO6w8h
				DyoPNw88D0kPUgAAAAAAAAICAAAAAAAAAS4AAAAAAAAA
				AAAAAAAAAA9X
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>40D20A59-2B60-4721-97E6-D045B964653B</string>
					<key>BaseURL</key>
					<string>https://miraving.github.io/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>All rights reserved © 2023</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.php</string>
						<string>index.html</string>
					</array>
					<key>EmailAddress</key>
					<string>oxdead@icloud.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAChC1UkbnVsbAgRGiQpMjdJTFFTVQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array/>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RWBadge</key>
					<string>{"imageAlt":"RapidWeaver Icon","delayType":"time","position":"bottomLeft","hiddenOnDesktop":false,"hiddenOnMobile":false,"url":"https:\/\/www.realmacsoftware.com","openInNewWindow":true,"hiddenOnTablet":false,"delayMillis":1000,"enabled":false,"text":"Made in RapidWeaver","colorScheme":"auto","transition":"slide","useDefaultImage":true,"delayDistance":30}</string>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLogoIdentifier</key>
					<string>AF0C0A1D-8C6C-40DE-8540-4D340EA34FC7</string>
					<key>SloganText</key>
					<string>Team Lead / Senior iOS Developer</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Engineer</string>
					<key>TitleText</key>
					<string>Viitalii Obertynskyi</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6379436C-5E11-4378-A2CF-AEEDCB9D1DAF_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>hasChangedGlobalBody</key>
					<false/>
					<key>hasChangedGlobalBodyStart</key>
					<false/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<false/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<false/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25Z
					JGFyY2hpdmVyVCR0b3BYJG9iamVjdHMSAAGG
					oF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290
					gAGlCwwRFx5VJG51bGzSDQ4PEFpkaWN0aW9u
					YXJ5ViRjbGFzc4ACgATTEhMOFBUWV05TLmtl
					eXNaTlMub2JqZWN0c6CggAPSGBkaG1okY2xh
					c3NuYW1lWCRjbGFzc2VzXxATTlNNdXRhYmxl
					RGljdGlvbmFyeaMaHB1cTlNEaWN0aW9uYXJ5
					WE5TT2JqZWN00hgZHyBeV2ViSWNvblBhY2th
					Z2WiIR1eV2ViSWNvblBhY2thZ2UACAARABoA
					JAApADIANwBJAEwAUQBTAFkAXwBkAG8AdgB4
					AHoAgQCJAJQAlQCWAJgAnQCoALEAxwDLANgA
					4QDmAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<false/>
					<key>webServerPHPVersion</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
